.main-container {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 30px;
    grid-template-areas:
        "a b"
        "a b"
    ;
}

.activities {
    grid-area: a;
}

.activities__profile {
    grid-area: b;

}

.main-container i {
    color: var(--primary-color);
}

.activities,
.activities__profile {
    /* gap: 20px; */
    border-radius: 8px;
    padding: 15px;
    height: 100%;
    background: var(--dark-green);
}

.balance__right div {
    cursor: point;
    color: var(--dark-green);
}

.activity__tag {
    display: flex;
    gap: 30px;
    align-items: center;
}


.logout {
    padding: 10px 20px;
    border: 1px solid var(--very-light-green);
    border-radius: 8px;
    background: var(--very-light-green);
    position: absolute;
    bottom: 35px;
}

.activity__hidden {
    display: none;
}

.general hr {
    border: 1px solid var(--very-light-green);
}

.general {
    padding: 15px 5%;
    width: 100%;

}

.activity__tag .tagIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    padding: 10px;
    background: var(--very-light-green);
}

.activity__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.activityInfo {
    display: grid;
    gap: 30px;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    background: var(--primary-color);
}


.transaction {
    display: flex;
}

.transaction .btn#password {
    background: var(--dark-green);
    color: var(--white-color);
}

.password {
    display: flex;
    align-items: center;
    background: var(--dark-green);
    padding: 5px;
    justify-content: space-between;
}

.password i {
    margin-right: 5px;
    color: var(--white-color);
}



.password input::placeholder {
    color: var(--white-color);
    color: var(--white-color);
}


.password input {
    color: var(--white-color);
    width: 80%;
    background: transparent;
    padding: 5px;
    border: none;
    outline: none;
}

.passwordInfo button,
.transactionInfo button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.passwordInfo .btn,
.transactionInfo .btn {
    cursor: pointer;
    background: var(--very-light-green);
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.passwordInfo,
.transactionInfo {
    color: var(--grey-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.transactionInfo {
    display: none;
}

.transaction .btn {
    cursor: pointer;
    background: var(--very-light-green);
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
}


.activities__profile {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.balance hr {
    height: 100%;
    border: 1px solid var(--very-light-green);
}

.balance {
    width: 100%;
}

.moreInfo h3 {
    color: var(--white-color);
}

.qrBar img {
    width: 70%;
}

.qrBar {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreInfo__head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.moreInfo {
    width: 100%;
    background: var(--primary-color);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.balance {
    background: var(--primary-color);

}

.profile__head {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName {
    text-align: center;
}


@media screen and (max-width:810px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "b"
            "a"
        ;
    }
}

@media screen and (max-width:500px) {
    .activity__tag .tagIcon {
        display: none;
    }
}